<!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container">

        <div class="section-title">
          <h2>Check our tasty <span>Menu</span></h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Show All</li>
                {% for category in categories %}
                    <li data-filter=".filter-{{ category.name }}">{{ category }}</li>
                {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row menu-container">
            {% for dish in dishes %}
                <div class="col-lg-6 menu-item filter-{{ dish.category.name }}">
            <div class="menu-content">
              <a href="#">{{ dish.title }}</a><span>$ {{ dish.price }}</span>
            </div>
            <div class="menu-ingredients">
              {{ dish.ingredients }}
            </div>
          </div>

            {% endfor %}
        </div>

      </div>
    </section><!-- End Menu Section -->